<div class="p-5">
    <div class="go-back-container" style="margin-left: 20px;">
        <a href="javascript:history.back()" class="go-back-link">
            <i class="fas fa-arrow-left"></i> Go Back
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <!-- Image Section -->
            <div class="col-md-5">
                <div class="edit-icon-container position-relative">
                    <a href="#" class="edit-icon position-absolute">
                        <div class="circle">
                            <i class="fa-regular fa-pen-to-square text-maincolor"></i>
                        </div>
                    </a>
                    <img src="./assets/competition2.png" class="img-fluid rounded-1" alt="Competition Image" style="width: 450px;">
                </div>
            </div>
            <!-- Content Section -->
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <div class="edit-icon-container position-relative">
                    <a href="#" class="edit-icon position-absolute">
                        <div class="circle">
                            <i class="fa-regular fa-pen-to-square text-maincolor"></i>
                        </div>
                    </a>
                    </div>
                    <h2>LLM Prompt Recovery</h2>
                    <!-- Paragraph -->
                    <p>NLP workflows increasingly involve rewriting text, but there's still a lot to learn about how to prompt LLMs effectively. This machine learning competition is designed to be a novel way to dig deeper into this problem.

                        The challenge: recover the LLM prompt used to rewrite a given text. You’ll be tested against a dataset of 1300+ original texts, each paired with a rewritten version from Gemma, Google’s new family of open models. </p>
                    <!-- Line containing start date, end date, and link -->
                    <div class=" d-flex justify-content-start">
                        <p class="mb-0 d-inline "><strong>Go To Link:</strong> <a href="#" class="text-success">Your Link</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
