<div class="p-5">
    <div class="go-back-container" style="margin-left: 20px;">
        <a href="javascript:history.back()" class="go-back-link">
            <i class="fas fa-arrow-left"></i> Go Back
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <!-- Image Section -->
            <div class="col-md-5">
                <div class="edit-icon-container">
                    <a href="#" class="edit-icon">
                        <div class="circle">
                            <i class="fa-regular fa-pen-to-square text-maincolor"></i>
                        </div>
                    </a>
                </div>
                <img src="./assets/competition2.png" class="img-fluid rounded-1" alt="Competition Image" style="width: 450px;">
            </div>
            <!-- Content Section -->
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <div class="edit-icon-container">
                        <a href="#" class="edit-icon">
                            <div class="circle">
                                <i class="fa-regular fa-pen-to-square text-maincolor"></i>
                            </div>
                        </a>
                    </div>
                    <h2>LLM Prompt Recovery</h2>
                    <!-- Paragraph -->
                    <p>NLP workflows increasingly involve rewriting text, but there's still a lot to learn about how to prompt LLMs effectively. This machine learning competition is designed to be a novel way to dig deeper into this problem.

                    The challenge: recover the LLM prompt used to rewrite a given text. You’ll be tested against a dataset of 1300+ original texts, each paired with a rewritten version from Gemma, Google’s new family of open models. </p>
                    <!-- Line containing start date, end date, and link -->
                    <div class="d-flex justify-content-start">
                        <p class="mb-0 d-inline "><strong>Go To Link:</strong> <a href="#" class="text-success">Your Link</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Picture Section -->
<div class="p-3">
    <div class="container">
        <div class="row justify-content-center mb-5 align-items-center">
            <div class="col-md-4" *ngFor="let src of srcsofproject; let i=index">
                <div class="member position-relative">
                    <div class="edit-icon-container">
                        <a href="#" class="edit-icon">
                            <div class="circle">
                                <i class="fa-regular fa-pen-to-square text-maincolor"></i>
                            </div>
                        </a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img src="" class="img-fluid" alt="Project Image" [src]='src' style="width: 300px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Team Members Section -->
<div class="pb-5">
    <div class="container p-5">
        <!-- Team Members Title -->
        <h2 class="mb-3">Project Team Members</h2>
        <!-- Underline -->
        <div class=" mb-lg-5 bg-success"></div>
        <!-- Team Members -->
        <div class="d-flex justify-content-center flex-wrap">
            <div class="text-center mx-5 mb-3" *ngFor="let src of srcsofprojectteam; let i=index">
                <!-- Team Member Image -->
                <div class="member position-relative">
                    <div class="edit-icon-container">
                        <a href="#" class="edit-icon">
                            <div class="circle">
                                <i class="fa-regular fa-pen-to-square text-maincolor"></i>
                            </div>
                        </a>
                    </div>
                    <img src="" [src]="src" class="rounded-circle" alt="Person 1" style="width: 170px; height: 170px;">
                </div>
                <!-- Team Member Name -->
                <div class="mt-2">
                    <h4>{{srcsofteamname[i]}}</h4>
                    <!-- Team Member Role -->
                    <p>Student</p>
                </div>
            </div>
        </div>
    </div>
</div>
