<footer class="py-5 maincolor text-white">
    <div class="container">
        <div class="row">
            <!-- First Footer section: Icons -->
            <div class="col-lg-4 d-flex justify-content-center">
                <div class=" d-flex align-items-center">
                    
                        <div class="d-flex justify-content-center align-items-center">
                            <div><i class="fab fa-facebook-f border TheIcons m-2"></i></div>
                            <div><i class="fab fa-twitter border TheIcons m-2"></i></div>
                            <div><i class="fab fa-linkedin-in border TheIcons m-2"></i></div>
                            <div><i class="fab fa-youtube border TheIcons m-2"></i></div> 
                            <div><i class="fab fa-instagram border TheIcons m-2"></i></div> 
                        </div>
                    
                </div>
            </div>
            
            <div class="col-lg-2"></div>



            <!-- Second Footer section: Pages -->
           <div class="col-lg-2">
    <div class="row row-cols-2">
        <div class="col">
            <h6>Pages</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white fw-lighter">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white fw-lighter">About</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white fw-lighter">Department Members</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white fw-lighter">Works</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white fw-lighter">Portfolio</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white fw-lighter">Career</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Third Footer section: Company -->
<div class="col-lg-2">
    <div class="row row-cols-2">
        <div class="col">
            <h6>Company</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white fw-lighter">Terms Condition</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white fw-lighter">Privacy policy</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white fw-lighter">Cookies</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white fw-lighter">Careers</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Fourth Footer section: Community -->
<div class="col-lg-2">
    <div class="row row-cols-2">
        <div class="col">
            <h6>Community</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white fw-lighter">Help center</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white fw-lighter">Forum</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white fw-lighter">Webinars</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white fw-lighter">Professionals</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

        <!-- Additional content for the footer -->
        <div class="d-flex justify-content-center py-4 my-4 border-top flex-column">
            <div class="d-flex justify-content-center  align-items-center">
                <div><i class="fab fa-facebook-f  fs-5 m-3"></i></div>
                <div><i class="fab fa-twitter  fs-5 m-3"></i></div>
                <div><i class="fab fa-linkedin-in fs-5  m-3"></i></div> 
                <div><i class="fab fa-instagram fs-5 m-3"></i></div> 
            </div>
            <ul class=" d-flex flex-row justify-content-center align-items-center pt-3">
                <li class="mb-2 list-unstyled"><a href="#" class="  me-4 text-decoration-none text-white fw-lighter">About</a></li>
                <li class="mb-2 list-unstyled"><a href="#" class="  me-4 text-decoration-none text-white fw-lighter">Contact us</a></li>
                <li class="mb-2 list-unstyled"><a href="#" class="  me-4 text-decoration-none text-white fw-lighter">FAQs</a></li>
                <li class="mb-2 list-unstyled"><a href="#" class="  me-4 text-decoration-none text-white fw-lighter">Terms and conditions</a></li>
                <li class="mb-2 list-unstyled"><a href="#" class="  me-4 text-decoration-none text-white fw-lighter">Cookie policy</a></li>
                <li class="mb-2 list-unstyled"><a href="#" class="  me-4 text-decoration-none text-white fw-lighter">Privacy</a></li>
            </ul>
        
        </div>
    </div>
</footer>




