.circle-content3{

        height: 120px;
        width: 120px;
        border-radius: 50%;
        background-color: #157347;
        display: flex;
        justify-content: center;
        align-items: center;

}