<div class="p-5">
    <div class="go-back-container" style="margin-left: 20px; margin-bottom: 20px;" >
        <a href="javascript:history.back()" class="go-back-link">
            <i class="fas fa-arrow-left"></i> Go Back
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <!-- Image Section -->
            <div class="col-md-5">
                <img src="./assets/man-using-tablet-work-connect-with-others.jpg" class="img-fluid rounded-1" alt="Competition Image" style="width: 450px;">
            </div>
            <!-- Content Section -->
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <!-- Title -->
                    <h2>AI & Data Science Python Developer Intern</h2>
                    <!-- Paragraph -->
                    <p>Responsibilities:
                        • Develop and implement data models for GPT3
                        • Analyze data to identify trends and areas of improvement
                        • Utilize algorithms and machine learning techniques to optimize GPT3 performance
                        • Monitor and assess system performance and accuracy
                        • Provide technical support for data models
                        • Develop and document data engineering processes and procedures
                        • Work closely with other engineers and data scientists to ensure data accuracy and consistency</p>     
                    <!-- Line containing start date, end date, and link -->
                    <div>
                        <p class="mb-0"><strong>Start from:</strong> <span class="text-secondary"> 20 Jan</span></p>
                        <div class="d-inline">
                            <p class="mb-0 d-inline me-5"><strong>Period:</strong> <span class="text-secondary"> 3 weeks</span></p>
                            <p class="mb-0 d-inline ms-5"><strong>Link:</strong> <a href="#" class="text-success">Your Link</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


