<!-- Section -->
<section class="p-5">
    <div class="container">
        <!-- Row for each training source -->
        <div class="row justify-content-center">
            <!-- Column for each training item -->
            <div class="col-md-4 mb-3 d-flex justify-content-center" *ngFor="let src of srcsofextraining; let i=index">
                <!-- New card structure -->
                <div class="card shadow" style="width: 20rem;">
                    <!-- Training item image -->
                    <div style="height: 200px; overflow: hidden; ">
                        <img src="" class="card-img-top" [src]="src" alt="..." style="object-fit: cover; height: 100%;">
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <!-- Training item title -->
                        <h4 class="card-title">{{externaltrainingname[i]}}</h4>
                        <!-- Training item description -->
                        <p class="card-text">{{externaltrainingdescription[i]}}</p>
                        <a routerLink="/doctorlayout/drexternaltraining" class="text-decoration-none d-flex justify-content-center align-items-center text-success mb-3">
                            <p class="mb-0">See More Details</p>
                            <i class="fa fa-arrow-right  ms-2" style="margin-top: 5px;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
