<section>
    <div class="container p-5">
        <!-- project Title -->
        <h2 class="text-center mb-3">Projects</h2>
      
        <!-- Underline -->
        <div class="underline mb-lg-5 bg-success"></div>
      
        <div class="row justify-content-center mb-5">
            <!-- project 1 -->
            <div class="col-md-4" *ngFor="let src of srcsofprojects; let i=index">
                <div class="member position-relative">
                    <!-- Image -->
                    <div class="d-flex justify-content-center">
                        <img src="" class="img-fluid img-thumbnail" alt="Image 1" [src]='src' style="height: 200px;">
                    </div>
                    
                    <!-- Details -->
                    <div>
                        <h5 class="mt-3" style="text-align: center;">{{projectname[i]}}</h5>
                        <a routerLink="/adminlayout/adminproject" class="text-decoration-none d-flex justify-content-center align-items-center text-success mb-3">
                            <p class="mb-0">See More Details</p>
                            <i class="fa fa-arrow-right ms-2" style="margin-top: 5px;"></i>
                        </a>
                    </div>
                    
                    <!-- Delete Button -->
                    <button class="btn btn-danger btn-sm position-absolute bottom-0 end-0 mt-3 me-3" style="margin-top: 10px;">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Add Project Card -->
        <div class="col-md-4 mb-3">
            <div class="card position-relative" style="width: 305px; height: 200px;">
                <div class="card-body d-flex justify-content-center align-items-center bg-body-tertiary">
                    <a routerLink="/adminlayout/admineditproject" style="text-decoration: none;"> 
                        <div class="circle-content3 position-relative">
                            <i class="fa fa-plus fa-2x text-white position-relative"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
