<section class="p-5">
    <div class="container">
     
    <div class="card" style="width: 18rem;">
        <img src="./assets/competition3.jpg" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">AWS Climathon hackathon Competition</h5>
          <p class="card-text">1'st place</p>
          <a routerLink="/doctorlayout/drsuccessstory" class="text-decoration-none d-flex justify-content-start align-items-center text-success">
            <p class="mb-0">See More Details</p>
        <i class="fa fa-arrow-right  ms-2" style="margin-top: 5px;"></i>
        </a>
        </div>
      </div>
         
    </div>
</section>
